
/*--------------------------------------------------------------
  The Complete CSS Style sheet
---------------------------------------------------------------*/



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

html {
-ms-overflow-style:none;
}

body {
height: 100%;
line-height: 1;
font-weight: normal;
font-style: normal;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display: block;
}

nav ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

a {
margin: 0;
padding: 0;
outline: 0;
font-size: 100%;
text-decoration: none;
vertical-align: baseline;
background: transparent;
}

a:hover, a:active, a:focus {
outline: 0;
text-decoration: none;
}

i {
font-style: normal;
}

input {
line-height: normal;
}
input::-ms-clear {
display: none;
}
input[type="checkbox"],
input[type="radio"] {
margin: 0;
padding: 0;
text-indent: -9999px;
position: absolute;
left: -9999px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
height: auto;
}
input[type="search"] {
-webkit-appearance: textfield;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
outline: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
outline: 0;
-webkit-appearance: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

/* Change colours to suit your needs */
ins {
color: #000;
text-decoration: none;
background-color: #ff9;
}

/* Change colours to suit your needs */
mark {
color: #000;
font-style: italic;
font-weight: bold;
background-color: #ff9;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
cursor: help;
border-bottom: 1px dotted;
}

table {
table-layout: fixed;
border-spacing: 0;
border-collapse: collapse;
}

/* Change border color to suit your needs */
hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #cccccc;
margin: 1em 0;
padding: 0;
}

input, select, textarea {
-webkit-appearance: none;
-moz-appearance: none;
vertical-align: middle;
outline: 0;
}

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.container-fluid {
height: auto;
margin: 0;
padding: 0;
font-weight: normal;
font-style: normal;
color: #fff;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
position: relative;
}

.row {
margin: 0;
padding: 0;
}

.clear, .clear:before, .clear:after {
clear: both;
}

/*--------------------------------------------------------------
  The Complete CSS Style sheet 
---------------------------------------------------------------*/

/* dashboard-page */
.dashboard-page {
position: relative;
}

/* main content */
.main-content .same-item {
margin-bottom: 113px;
}
.main-content .same-bg {
  display: flex;
  width: 1160px;
  height: 546px;
  align-items: center;
  position: relative;
}
.main-content .same-bg.bg-system {
  background-image: url(../../assets/images/rectangle-system.png);
}
.main-content .same-bg.bg-security {
  background-image: url(../../assets/images/rectangle-security.png);
}

.main-content .right-item {
  display: flex;
  justify-content: flex-end;
}

.main-content .same-bg.bg-support {
  background-image: url(../../assets/images/rectangle-support.png);
}
.main-content .same-bg .box-content {
  width: 504px;
  height: 355px;
  padding-top: 85px;
  padding-left: 94px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: -80px;
}
.main-content .same-bg .box-content h2 {
  padding-bottom: 29px;
  font-size: 45px;
  color: #142C4B;
}
.main-content .same-bg .box-content p {
  line-height: 18px;
  width: 306px;
  font-size: 15px;
  color: #464646;
}
.main-content .same-bg .box-content::before {
  content: '';
  display: block;
  width: 50px;
  height: 355px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  top: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.main-content .right-item .box-content {
  right: unset;
  left: -186px;
}
