/* case study */
.case-study {
  padding: 0 52px;
}
.case-study h2 {
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  color: #1F3655;
}
.case-study h2::before {
  content: '';
  display: block;
  width: 48px;
  height: 6px;
  background: #A3D826;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.case-study p {
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  color: #15285850;
  margin-top: 40px;
  margin-bottom: 74px;
}

.main-case-study {
  padding-top: 270px;
  min-height: 1130px;
  background-color: #EEF2F5;
}
.main-case-study .text-slider {
  padding-bottom: 50px;
}
.main-case-study .text-slider span {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  color: #585A5A;
  padding-bottom: 10px;
}

.slider {
  width: 100%;
  height: 500px;
  background: #000;
}
.main-case-study .btn-action {
  display: block;
  background: transparent;
  width: 318px;
  height: 70px;
  background: radial-gradient(100% 2063.76% at 0% 50%, #003E8F 0%, #2C60A5 100%);
  margin: 0 auto;
  margin-top: 60px;
  color: #fff;
  border: none;
  cursor: pointer;
}